:root {
  --br: 20px; }

html {
  min-height: 100%; }

body {
  min-height: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background: linear-gradient(to bottom, #111951 0%, #421F6F 30%, #612384 100%); }

.header-row, .current-row {
  color: #fff; }

#location {
  font-size: 25px;
  font-weight: 600; }

#weather-input {
  border-right: none;
  border-top-left-radius: var(--br);
  border-bottom-left-radius: var(--br); }

#search-btn {
  background-color: #fff;
  border-left: none;
  border-top-right-radius: var(--br);
  border-bottom-right-radius: var(--br); }

#current-temp {
  font-size: 65px;
  font-weight: 800; }

#current-weather {
  font-size: 25px;
  font-weight: 500; }

.card {
  background: #dbd3e4; }

.high {
  border-right: 3px solid #612284; }
